
  <div id="admin-content">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <h1 class="admin-heading"><i class="fa fa-comments"></i> Comments Management</h1>
              </div>
              <div class="col-md-12">
               <div id="commentTable"></div>
              </div>
          </div>
      </div>
  </div>

<div class="modal" tabindex="-1" id="commentModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="commentModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="commentModalBody">
        <p>Modal body text goes here.</p>
      </div>
       <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/tabulator-tables@6.0.0/dist/js/tabulator.min.js"></script>
<script>
  const tableData = <%- JSON.stringify(comment) %>
  var tables = new Tabulator("#commentTable",{
    data:tableData,
    layout:"fitColumns",
    pagination:true,
    paginationSize:10,
    paginationSizeSelector:[5,10,25,50,100],
    columns:[
      {title:"S.No.",formatter:'rownum' ,width:100,hozAlign:'center'},
      {title:"Article", field:"article.title",headerFilter:"input"},
      {title:"Content", field:"content",headerFilter:"input"},
      {title:"Name", field:"name",headerFilter:"input"},
      {title:"Date", field:"createdAt",headerFilter:"input",
          formatter:function(cell,formatterParams,onRendered){
           var date = new Date(cell.getValue());
           return date.toLocaleDateString('en-GB',{day:'2-digit',month:'short',year:'numeric'}).replace(/\s/g,'-')
        }
      },
      {title:"Status", field:"status",headerFilter:"input"},
      {title:"Actions",formatter:function(cell,formatterParams,onRendered){
        return `<button onclick="viewComment('${cell.getData()._id}')" class="btn btn-sm btn-success">view</button>
        <button onclick="deleteComment('${cell.getData()._id}')" class="btn btn-sm btn-danger delete-comment">Delete</button>`
      }}
    ]
  })
   function viewComment(id) {
     var  comment = tableData.find(comment=>comment._id===id);
      html = `
       <p><b>Message</b>: ${comment.content}</p>
       <select class="form-select" onchange="updateCommentStatus('${comment._id}', this.value)">
       <option value="pending" ${comment.status==='pending' ?  'selected':''}>pending</option>
       <option value="approved" ${comment.status==='approved' ?  'selected':''}>approved</option>
       <option value="rejected" ${comment.status==='rejected' ? 'selected':''}>rejected</option>
       </select>
     `;
    var   modal = new bootstrap.Modal((document.getElementById('commentModal')));
    document.getElementById('commentModalLabel').textContent = `Comment By ${comment.name}`
  var modalBody = document.getElementById('commentModalBody');
     modalBody.innerHTML = html;
     modal.show();
   }
   
   async function updateCommentStatus(id,status){
     await fetch(`/admin/update-comment/${id}`,{
      method:'put',
      headers:{
        'Content-Type':'application/json'
      },
      body: JSON.stringify({status})
     }).then(response => response.json())
     .then(data =>{
      if(data.success){ 
        window.location.reload()
      }
     })
     .catch(error =>{
       console.log(error);
     })
   }
   //  delete comment
  async function deleteComment(id){  
  try {
    if(confirm("Are you sure want to delete this comment?"))
  {
   const response= await fetch(`/admin/delete-comment/${id}`,{
      method:'delete'
    });
    if(response.ok){
      window.location.reload()
    }
    if (response.status == 400){
      const data = response.json() 
      alert(data.message)
    }
  }
  } catch (error) {
    console.log(error);
  }
}
</script>
<%- contentFor('tabulatorCSS') %>
<link href="https://unpkg.com/tabulator-tables@6.3.1/dist/css/tabulator.min.css" rel="stylesheet">
<!-- <link href="/css/tabulator_bootstrap5.min.css" rel="stylesheet"> -->